# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Env
.env
*.env

# Django
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/

# Docker
*.pid
*.sock
*.tar
*.log
*.tmp

# Node (if frontend added)
node_modules/
dist/
build/
